.main {
    display: flex;
    font-size: 1rem;
    background-color: var(--bg-primary);
    justify-content: center;
    width: 100vw;
}

.sideBar {
    font-size: 1rem;
    background-color: var(--bg-primary);
    width: 20%;
    display: flex;
    flex-direction: column;
    position: sticky;
    left: 0;
    top: 500px;
    padding: 9px 4px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    /* To account for header height */
}

button {
    background-color: transparent;
    border: none;
    color: var(--text-primary);
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 10px 15px;
    text-align: left;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: var(--bg-secondary);
    color: var(--text-accent);
}

button:active {
    background-color: #c2c2c2;
    color: var(--text-primary);
}

button::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--border-color);
    transition: transform 0.3s;
    transform: scaleX(0);
}

button:hover::after {
    transform: scaleX(1);
}

.Link {
    text-decoration: none;
    color: inherit;
}

.cardContainer {

    background-color: var(--bg-primary);
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    /* To account for header height */
}

.card {
    background-color: var(--bg-secondary);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    padding: 15px;
    height: 150px;
    cursor: pointer;
    margin: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card h3 {
    display: flex;
    margin: 6px;
    justify-content: space-between;
}

.star {

    margin: 0px;
    right: 10px;
}

.note {
    font-size: 0.9rem;
    margin: 0px;
    padding: 2px;
    height: 90px;
    overflow: hidden;

}

.time {
    display: flex;
    justify-content: flex-end;
    color: var(--text-secondary);
    font-size: 0.8rem;

}

.del-button {
    background-color: var(--error-color);
    border: none;
    margin: 0px;
    padding: 2px;
    color: var(--text-secondary);
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
    position: relative;
    left: 10px;
    font-size: 0.9rem;
}

.del-button:hover {
    background-color: #f78787;
    color: var(--text-primary);
}



.buttons {
    position: relative;
    top: -20px;
    right: 0px;
    margin: 0px;
    padding: 0px;
}

.new-button {
    background-color: #ffc95e;
    border: 2px solid var(--border-color);
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: transform 0.4s, background-color 0.2s;
    z-index: 1000;
}

.new-button img {
    width: 45px;
    height: 45px;
}

.new-button:hover {
    background-color: #ffb830;
    transform: scale(1.2);
}

@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
    }

    .sideBar {
        flex-direction: row;
        width: 100%;
        display: flex;
        font-size: 8px;
        left: 0;
        top: 100px;
        padding: 4px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        padding-top: 10px;
    }.sideBar button {
        flex: 1;
        font-size: 0.8rem;
        margin: 0 5px;

        padding: 4px;
        text-align: center;
    }


    .cardContainer {
        width: 100%;
        padding: 10px;

    }

    .buttons {
        display: flex;
        align-items: center;
        height: 30px;
        top: -00px;
    }

    .new-button {
        width: 40px;
        height: 40px;
        bottom: 40px;
        right: 10px;
    }

    .new-button img {
        width: 30px;
        height: 30px;
    }
}