.Header {
    background-color: var(--bg-primary);
    padding: 8px 30px;
    margin: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99vw;
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow: hidden;
}

.header-title {

    color: var(--text-primary);
    font-weight: 600;
}

.search-bar {
    padding: 8px;
    font-size: 16px;
    color: var(--text-primary);


}

#search {
    font-size: 1.3rem;
    border-radius: 6px;
    border: 2px solid var(--border-color);
    padding: 4px;
    width: 350px;
    transition: border 0.5s;
}

#search:hover {
    border: 2px solid #575757;
}

#search:focus {
    outline: none;
    border: 2px solid var(--accent-color);
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
    position: relative;
    right: 30px;
    bottom: 5px;
}

.search-icon:hover {
    cursor: pointer;
}

.Link {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 600px) {
    .Header {

        padding: 10px 20px;
        font-size: 12px;
    }

    .search-bar {
        width: 100%;
        margin-top: 10px;
    }

    #search {
        font-size: 12px;
        width: 120px;
    }

    .search-icon {
        width: 15px;
        height: 15px;
   
        margin: 2px;
        bottom: 2px;
    }

}